server {
  server_name {{ hostname }};
  listen 443 ssl;
  root {{ app_dir }};

  passenger_enabled on;
  passenger_app_root {{ app_dir }};
  passenger_ruby {{ rvm_dir }}/gems/{{ ruby_version }}@{{ app_name }}/wrappers/ruby;
  passenger_env_var CRAWLERS_DATA_DIR {{ data_dir }};

  ssl_certificate /etc/letsencrypt/live/{{ hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ hostname }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
  server_name {{ hostname }};
  listen 80;
  if ($host = {{ hostname }}) {
      return 301 https://$host$request_uri;
  }
  return 404;
}
