server {
  server_name {{ hostname }};
  listen 443 ssl http2;
  root {{ app_dir }};

  gzip on;
  gzip_comp_level 2;
  gzip_min_length 1024;
  gzip_types text/plain text/css application/x-javascript text/javascript;

  location ~* \.(png|jpg|jpeg|gif|ico|webp|svg)$ {
    expires {{ cache_expiration_images }};
  }

  location ~* \.(woff|woff2|ttf|eot)$ {
    expires {{ cache_expiration_fonts }};
  }

  location ~* \.(css|js)$ {
    expires {{ cache_expiration_assets }};
  }

  ssl_certificate /etc/letsencrypt/live/{{ hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ hostname }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
  server_name {{ hostname }};
  listen 80;
  if ($host = {{ hostname }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}
