server {
  server_name {{ hostname }};
  listen 443 ssl;
  root {{ app_dir }};

  ssl_certificate /etc/letsencrypt/live/{{ hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ hostname }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  add_header 'Access-Control-Allow-Origin' 'spetex.cz';
}

server {
  server_name {{ hostname }};
  listen 80;
  if ($host = {{ hostname }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}
